$blue: #0077ff;
$white: #fff;
$red:#ff2e6a;

*{
    padding:0;
    margin: 0;
}
html{
    font-size: .16rem;
}

@mixin badge{
    font-size:.12rem;
    color: $white;
    font-weight: normal;
    height: 0.16rem;
    background: $red;
    min-width: 0.16rem;
    padding: 0 0.06rem;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 8px 8px 8px 0px;
    white-space: nowrap;
}

.flex-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .24rem;
    color:$white;
    font-weight: bold;
    padding: 0 .18rem;
}

.nav .right{
    display: inline-flex;
    align-items: center;
    #tucao {
        width: 0.4rem;
        height: 0.4rem;
        display: inline-block;
        background-image: url(~@/assets/images/tu.png);
        background-size: 0.24rem;
        background-position: center right;
        background-repeat: no-repeat;
      }
    #message{
        width: 0.4rem;
        height: 0.4rem;
        display: inline-block;
        background-image: url(~@/assets/images/message.png);
        background-size: 0.24rem;
        background-position: center right;
        background-repeat: no-repeat;
        position: relative;
        .badge{
            @include badge();
            position:absolute;
            top: .03rem;
            left: .25rem;
        }
    }
}
